/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box; // 默认 border-box

  &:hover {
    outline: none;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: PingFangSC-Regular, Microsoft Yahei, SimSun, SimHei;
  -webkit-tap-highlight-color: transparent; // 去除button,Input点击时的阴影,IOS私有
  // user-select: none; //禁止用户选择文本
  -webkit-touch-callout: none; //禁止图片长按弹出菜单，img和a标签都要加(对图片似乎已经无效了，长安图片总是会弹出系统菜单)
  -webkit-appearance: none; // 禁用系统原生样式

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

a {
  text-decoration: none;

  &:link,
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

button {
  border: none;
}

input {
  border: none;
  outline: none;
}
